/*
 * SPDX-PackageName: MMOD Panel
 * SPDX-FileCopyrightText: ⓒ 2011 - 2022 Richard Winters <kirvedx@gmail.com> and contributors
 * SPDX-License-Identifier: Apache-2.0
 */


.viewport {
  margin: 0;
  padding: 6px;
  display: block;
}

.viewport--preferences {
  margin: 0;
  padding: 6px;
  display: block;
}
