/*
 * SPDX-PackageName: MMOD Panel
 * SPDX-FileCopyrightText: ⓒ 2011 - 2022 Richard Winters <kirvedx@gmail.com> and contributors
 * SPDX-License-Identifier: Apache-2.0
 */


 .mmod-panel-style-compact
 {
    height: 28px;
 }

 .mmod-panel-button-icon-style-compact
 {
    height: 20px;
    width: 20px;
 }

 .mmod-panel-style-cozy
 {
    height: 36px;
 }

 .mmod-panel-button-icon-style-cozy
 {
    height: 28px;
    width: 28px;
 }

 .mmod-panel-style-comfortable
 {
    height: 52px;
 }

 .mmod-panel-button-icon-style-comfortable
 {
    height: 44px;
    width: 44px;
 }