/**
 * package: mmod-panel
 * author:  Richard B. Winters <a href='mailto:rik@mmogp.com'>rik AT mmogp DOT com</a>
 * copyright: 2011-2015 Massively Modified, Inc.
 * license: Apache, Version 2.0 <http://www.apache.org/licenses/LICENSE-2.0>
 */
 
 
 .mmod-panel-style-compact
 {
    height: 28px;
 }
 
 .mmod-panel-button-icon-style-compact
 {
    height: 20px;
    width: 20px;
 }
 
 .mmod-panel-style-cozy
 {
    height: 36px;
 }
 
 .mmod-panel-button-icon-style-cozy
 {
    height: 28px;
    width: 28px;
 }
 
 .mmod-panel-style-comfortable
 {
    height: 52px;
 }
 
 .mmod-panel-button-icon-style-comfortable
 {
    height: 44px;
    width: 44px;
 }